<!DOCTYPE html>
<html>
<head>
	<title>Tracker Generator</title>
</head>
<body>

	<style type="text/css">
		.monospace {
			  font-family: "Lucida Console", Courier, monospace;
			}
	</style>

	<center>
		<div id="input_data" contentEditable="true" class="monospace" style="outline: none;margin-top: 5%;width: 95%;resize: both;height:50px;border-style: solid;border-radius: 50px;font-size:30px;padding-top:25px;font-style: bold;">
			
				karjun344@gmail.com/mail123/testing2
			
		</div>

		<div  style="margin-top: 30px;outline: none;">
			<button onclick="generatePayLoad()" class="monospace" style="outline: none;width: 250px;height: 40px;font-size: 20px;border-radius: 10px;">Generate Payload</button>
		</div>


		<div style="margin-top: 60px;padding: 20px;outline: none;border-style: solid;width: min-content;">
			<div id="copyable" style="padding: 20px;">
				<center>
					<img style="visibility:hidden;background-color: black;outline: none;opacity:5%;" id="payload" src="#">
				</center>
			</div>
		</div>


		<div id="info" class="monospace"  style="visibility: hidden;margin-top: 60px;outline: none;font-size: 20px;">
			<h1>***Content Copied To ClipBoard***</h1>
			<br><br>
			<!-- ***Drag Over The image to Select it***
			<br><br>
			***Press CTRL+C to copy***
			<br><br>
			***Press CTRL+V to paste it anywhere*** -->
		</div>

	</center>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script type="text/javascript">


	function generatePayLoad()
	{
		var host = "http://"+location.hostname;
		if(location.hostname == "localhost")
		{

			host = host + ":8000";
		}
		input_data = document.getElementById("input_data").innerHTML;
		input_data = input_data.split('/');
		csrftoken = '{{csrf_token}}';
		email = input_data[0];
		mailid = input_data[1];
		comments = input_data[2];
		$.ajax({
              method: 'POST',
              url: 'setTrackrr',
              data: {'check':'FromSender','emailid':email,'mailid':mailid,'comments':comments,"csrfmiddlewaretoken" : csrftoken},
              success: function (response) {
              	
              	if( response['validated']=="True")
              	{
              		input_data = document.getElementById("input_data").innerHTML;
					generatedSource = host+"/setTrackr/"+input_data.trim();
					img_ele = document.getElementById("payload");
					// img_ele.style.backgroundImage = 'url('+generatedSource+')';
					img_ele.src = generatedSource;
					img_ele.style.backgroundColor = "";
					img_ele.style.visibility = "";
					img_ele.style.visibility = "";
					document.getElementById("info").style.visibility = "";
					copyClipboard();
              	}
              	else
              	{
              		img_ele = document.getElementById("payload");
					img_ele.src = host+"/static/img/"+response['errorcode']+".PNG";
					img_ele.style.backgroundColor = "";
					img_ele.style.visibility = "";
					img_ele.style.visibility = "";
					document.getElementById("info").style.visibility = "";

              	}
                   
              },
              error: function (response) {
                   
              		alert("Something Went Wrong");

              }
          });
				
	}

	function copyClipboard() {
	  var elm = document.getElementById("copyable");
	  // for Internet Explorer

	  if(document.body.createTextRange) {
	    var range = document.body.createTextRange();
	    range.moveToElementText(elm);
	    range.select();
	    document.execCommand("Copy");
	    alert("Copied div content to clipboard");
	  }
	  else if(window.getSelection) {
	    // other browsers

	    var selection = window.getSelection();
	    var range = document.createRange();
	    range.selectNodeContents(elm);
	    selection.removeAllRanges();
	    selection.addRange(range);
	    document.execCommand("Copy");
	    alert("Copied div content to clipboard");
	  }
}
</script>

</html>