<!DOCTYPE html>
<html>
<head>
	<title>Tracker Generator</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

	<style type="text/css">
		.monospace {
			  font-family: "Lucida Console", Courier, monospace;
			}
			[contenteditable=true]:empty:before{
			  content: attr(placeholder);
			  pointer-events: none;
			  display: block; /* For Firefox */
			  opacity: 50%;
			}

			div[contenteditable=true] {
			  border: 1px dashed #AAA;
			  width: 290px;
			  padding: 5px;
			}
	</style>

	<center>
		<div id="input_data" placeholder="user_name/unique_message_id/remarks" contentEditable="true" class="monospace" style="outline: none;margin-top: 5%;width: 95%;resize: both;height:100px;border-style: solid;border-radius: 50px;font-size:30px;padding-top:25px;font-style: bold;"></div>

		<div style="margin-top: 30px;outline: none;">
			<button id="generatep" onclick="generatePayLoad()" class="monospace" style="outline: none;width: 250px;height: 40px;font-size: 20px;border-radius: 10px;">Generate Tracker</button>
		</div>


		<div>
			<div id="copyable" style="padding: 20px;">
				<center>
					<img style="visibility:hidden;background-color: black;outline: none;" id="payload" src="http://arjun344.pythonanywhere.com/static/img/1px-1px.png?r=1253">
					arjun
				</center>
			</div>
		</div>

		<div id="copybtn"  style="visibility: hidden;margin-top: 30px;outline: none;">
			<button onclick="copyClipboard()" class="monospace"  style="outline: none;width: 250px;height: 40px;font-size: 20px;border-radius: 10px;">Copy Tracker</button>
		</div>

		<div id="info" class="monospace"  style="visibility: hidden;margin-top: 60px;outline: none;font-size: 20px;">
			<h1>***Content Copied To ClipBoard***</h1>
			<br><br>
			<!-- ***Drag Over The image to Select it***
			<br><br>
			***Press CTRL+C to copy***
			<br><br>
			***Press CTRL+V to paste it anywhere*** -->
		</div>

	</center>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script type="text/javascript">


	function generatePayLoad()
	{
		var btn = document.getElementById('generatep')
		var loading = '<i class="fa fa-spinner fa-spin"></i> Loading..'
		btn.innerHTML = loading;

		var host = "http://"+location.hostname;
		if(location.hostname == "localhost")
		{

			host = host + ":8000";
		}
		input_data = document.getElementById("input_data").innerHTML;
		input_data = input_data.split('/');
		csrftoken = '{{csrf_token}}';
		email = input_data[0];
		mailid = input_data[1];
		comments = input_data[2];
		$.ajax({
              method: 'POST',
              url: 'setTrackrr',
              data: {'check':'FromSender','emailid':email,'mailid':mailid,'comments':comments,"csrfmiddlewaretoken" : csrftoken},
              success: function (response) {
              	
              	if( response['validated']=="True")
              	{
              		input_data = document.getElementById("input_data").innerHTML;
					// generatedSource = host+"/setTrackr/"+response['user_id']+"/"+mailid+"/"+comments;
					alert(response['user_id']);
					img_ele = document.getElementById("payload");
					var src = 'http://arjun344.pythonanywhere.com/static/img/1px-1px.png?r=1253'
					img_ele.src = src;
					// img_ele.style.backgroundImage = 'url('+generatedSource+')';
					img_ele.style.backgroundColor = "";
					img_ele.style.visibility = "";
					img_ele.style.visibility = "";
					document.getElementById("copybtn").style.visibility = '';
					btn.innerHTML = 'Generate Tracker';

					
              	}
              	else
              	{
              		img_ele = document.getElementById("payload");
					img_ele.src = host+"/static/img/"+response['errorcode']+".PNG";
					img_ele.style.backgroundColor = "";
					img_ele.style.visibility = "";
					img_ele.style.visibility = "";
					btn.innerHTML = 'Generate Tracker';
              	}
                   
              },
              error: function (response) {
                   
              		alert("Something Went Wrong");
              		btn.innerHTML = 'Generate Tracker';

              }
          });
				
	}

	function copyClipboard() {
	  var elm = document.getElementById("copyable");
	  // for Internet Explorer

	  if(document.body.createTextRange) {
	    var range = document.body.createTextRange();
	    range.moveToElementText(elm);
	    range.select();
	    document.execCommand("Copy");

	  }
	  else if(window.getSelection) {
	    // other browsers

	    var selection = window.getSelection();
	    var range = document.createRange();
	    range.selectNodeContents(elm);
	    selection.removeAllRanges();
	    selection.addRange(range);
	    document.execCommand("Copy");
	  }

	  document.getElementById("info").style.visibility = "";
}
</script>

</html>